{% block label %}
    {% if field.label %}
        {% set hint = field.help ? 'data-hint="' ~ field.help|tu|raw ~ '"': '' %}
        <div class="form-label form-field hint--bottom" {{ hint }}>{{ field.label|tu|raw }}</div>
    {% endif %}
{% endblock %}
{% block field %}
    <div class="form-field {{ field.classes|default('') }}">
        <div class="form-data">
			<textarea
                    class="ckeditor"
                    name="{{ (scope ~ field.name)|fieldName }}">
                {{ value|join("\n")|e("html") }}
            </textarea>
        </div>
    </div>
    <script>

        ClassicEditor
            .create(
                document.querySelector( '.ckeditor' )
            )
            .then(
                response => {
        }
        )
        .catch( error => {
            console.error( error );
        });

    </script>
{% endblock %}